
.card {
    height: 400px;
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 30px;
  }
  a {
    margin: 0;
  }
  
  .info {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .userImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .postImg{
    width: 100%;
    height: 80%;
    margin: 0 auto;  
    cursor: pointer;
}
  
  .interaction{
      display: flex;
      align-items: center;
      padding: 5px 10px;
      background-color: w;
  }
  
  .cardIcon{
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-right: 10px;
  }
  
  .infoIcon{
      position: absolute;
      right: 0;
      width: 12px;
      height: 12px;
  }