.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .errors {
    color: red;
    margin: 0;
  }